{% extends 'master.html'%}
{% load static %} {% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
    <h2>Diet plan for weight loss (1200 calories)</h2>
    <table class="table">
        <thead>
            <th>MENU</th>
            <th>AMOUNT</th>
            <th>CALORIES<br>(KCAL)</th>
            <th>PROTEIN<br>(GMS)</th>
        </thead>
        <th colspan="4" class="text-center">Early Morning</th>
        <tbody>
            <td>Warm water with Lemon</td>
            <td>1 glass</td>
            <td>---</td>
            <td>---</td>
        </tbody>
        <tr>
            <td>Tea(Without sugar)</td>
            <td>1 cup</td>
            <td>35</td>
            <td>4</td>
        </tr>
        <tr>
            <td>Marie Biscuits</td>
            <td>2</td>
            <td>56</td>
            <td>-</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>Total Calories-91</td>
            <td>Protein -4</td>
        </tr>
        <th colspan="4" class="text-center">Breakfast</th>
        <tr>
            <td>Godambu Puttu (with very less coconut)</td>
            <td>2 pieces (regular  size)</td>
            <td>164</td>
            <td>3</td>
        </tr>
        <tr>
            <td>Kadala curry (chick pea curry)</td>
            <td>1 Small cup</td>
            <td>100</td>
            <td>6</td>
        </tr>
        <tr>
                <td></td>
                <td></td>
                <td>Total Calories-264</td>
                <td>Protein -9</td>
        </tr>
        <th colspan="4" class="text-center">OR</th>
        <tr>
                <td>Appam</td>
                <td>2 piece</td>
                <td>100</td>
                <td>3</td>
        </tr>
        <tr>
                <td>Nadan Mutta Roast</td>
                <td>2 no.</td>
                <td>150</td>
                <td>6</td>
        </tr>
        <tr>
                <td></td>
                <td></td>
                <td>Total Calories-250</td>
                <td>Protein -9</td>
        </tr>
        <th colspan="4" class="text-center">Mid Morning</th>
        <tr>
            <td>Apple / Mixed fruit bowl</td>
            <td>1 med/50-60 gms</td>
            <td>40</td>
            <td>_</td>
        </tr>
        <tr>
            <td>Green Tea (No Sugar)</td>
            <td>_</td>
            <td>_</td>
            <td>__</td>
        </tr>
        <th colspan="4" class="text-center">Lunch</th>
        <tr>
            <td>Chuvanna Matta arichoru (red rice)</td>
            <td>1/3 rd soup bowl (50 gms uncooked)</td>
            <td>120</td>
            <td>3</td>
        </tr>
        <tr>
            <td>Sambar  (no coconut )</td>
            <td>1 medium bowl</td>
            <td>75</td>
            <td>4</td>
        </tr>
        <tr>
            <td>beetroot Pachadi</td>
            <td>1 small bowl</td>
            <td>75</td>
            <td>4</td>
        </tr>
        <tr>
            <td>Cabbage thoran (with less coconut)</td>
            <td></td>
            <td>Total calories-270</td>
            <td>Proteins-11</td>
        </tr>
        
        <th>10 minutes, walk post lunch + 1 cup warm water with lemon / Green tea (no sugar)</th>
        <tr>
        <th colspan="4" class="text-center">Evening</th>
        </tr>
        <tr>
            <td>Green tea / Coffee (without sugar)</td>
            <td>1 cup</td>
            <td>35</td>
            <td>2</td>
        </tr>
        <tr>
            <td>Wheat Rusk</td>
            <td>2</td>
            <td>80</td>
            <td>2</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>Total Calories-105</td>
            <td>Protein -6</td>      
        </tr>
        <th colspan="4" class="text-center">Dinner</th>
        <tr>
            <td>Pathiri</td>
            <td>2</td>
            <td>150</td>
            <td>3</td>
        </tr>
        <tr>
            <td>Mulakitta mean curry</td>
            <td>1 med bowl</td>
            <td>150</td>
            <td>7</td>
        </tr>
        <tr>
            <td>Salad</td>
            <td>1 medium bowl</td>
            <td>30</td>
            <td>2</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>Total Calories-330</td>
            <td>Protein -12</td>      
            </tr>
            <tr>
                <th>10 minutes, walk post lunch + 1 cup warm water with lemon / Green tea (no sugar)</th>
            </tr>
            <th colspan="4" class="text-center">Bed Time</th>
            <tr>
                <td>Milk</td>
                <td>1 cup</td>
                <td>75</td>
                <td>2</td>
            </tr>
            <tr>
                <td>Soaked almonds</td>
                <td>4 no.</td>
                <td>20</td>
                <td>3</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Calories-95</td>
                <td>Protein -5</td>      
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Total Calories=1195</td>
                <td>Total Protein =47</td>      
                </tr>
    </table>
{% endblock %}         
</body>
</html>