{% extends 'master.html'%}
{% load static %} {% block content %}
<head>
    <style>
        body{
            background-image:url("{% static 'images/grapes.png' %}");
            background-size: cover;
            background-repeat: no-repeat;
        }
        .mytext{
            font-size: 40px;
        } 
        .transparent{
            background:linear-gradient( rgba(0,0,0,0.7),
            rgba(0,0,0,0.7));
            opacity: 0.8;
        }
        .margin{
            margin-top: 150px;
        }  
    </style>
</head>  
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 text-white m-3" style="font-size: 20px">"Do more of what makes you happy"</div>
            <div class="mytext col-md-4 d-none d-lg-block">
                <label id="time" class="text-dark font-weight-bold margin"></label>
                <label id="wishes" class="text-dark"></label>
            </div>
            <!--Small screen-->
            <div class="mytext col-md-4 d-lg-none">
                <label id="stime" class="text-dark font-weight-bold"></label>
                <label id="swishes" class="text-dark"></label>
            </div>
            <div class="transparent text-white col-md-4 m-5">
                    {{usrname.firstname}}, your pending items
                    {% for itm in tsk %}
            <ul>
                <li>{{itm.newtask}}</li>
            </ul>
            {% endfor %}
            </div>
        </div>
    </div>  
    
</body>
<script>
    var myDate = new Date();
    var hrs = myDate.getHours();
    var greet;
    if (hrs < 12)
        greet = 'Good Morning';
    else if (hrs >= 12 && hrs <= 17)
        greet = 'Good Afternoon';
    else if (hrs >= 17 && hrs <= 24)
        greet = 'Good Evening';

    document.getElementById('wishes').innerHTML =
         greet +', {{usrname.firstname}}'
    document.getElementById('swishes').innerHTML =
         greet +', {{usrname.firstname}}'     
 

 var mytime=new Date().toLocaleTimeString();
 document.getElementById('time').innerHTML =mytime;
 document.getElementById('stime').innerHTML =mytime;
</script>
{% endblock %}  