{% extends 'masterdiet.html' %}
{% load static %} {% block dietcontent %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Diet Plan</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    
    <style>
        .mylist{
            border: 2px solid lightblue;
            border-radius: 45px 0px 45px 0px;
            border-top: 10px lightblue solid;
            margin-top: 25px;
        }
        .display{
            border: 2px solid grey;
            border-radius: 10px;
            background: linear-gradient(pink,lightblue);
            width: 300px;
            margin-left: 60px;
        }
        .bmg{
             background-image: url("{% static 'images/red.jpg' %}");
             background-size: cover;
             
        }
        .transparent{
                background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)); 
        }   
        
        .btnstyle{
            border-radius: 35px;
            background-color: rgb(87, 240, 214);
            width: 250px;
            margin-top: 15px;
            
        }
        .btnstyle:hover{
            background-color: rgb(9, 121, 102);
        }
        .itms{
            border-radius: 10px;
           
        }
    </style>
</head>
<body> 
    <div class="container--fluid">
        <h2 class="text-center">Eat Better Not Less</h2>
        <div class="row">
            <div class="col-lg-9"> 
                <div class="row">
                    <div class="col-lg-4">
                            <form action="food" method="POST">
                                    {% csrf_token %}
                        <h3 class="font-weight-bold p-5 mylist" id="brk">Breakfast
                            <div id="hidebrkfst" style="display: none">
                            <input type="text" name="brkfst" id="brkfst" class="form-control itms">
                            <button type="submit" class="btn btn-primary">Add</button>
                        </div>
                               {{msg}}
                           <!-- <div class="progress" id="progress1" style="display: none">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:30%">
                                    30%
                                </div>
                            </div>-->
                            
                        </h3>
                        
                        <div class="form-check display pl-0 bmg" style="display: none" id="breakfast">
                            <div class="transparent"> 
                                <h4 class="text-center text-white p-2">Have you had your Breakfast?</h4> 
                                <div class="mritems">
                                    <input type="checkbox" name="idli" id="idli" value="Idli" class="mr">
                                    <label for="idli" class="form-check-label text-white">Idli</label><br>
                                    <input type="checkbox" name="dosa" id="dosa" value="Dosa" class="mr">
                                    <label for="dosa" class="form-check-label text-white">Dosa</label><br>
                                    <input type="checkbox" name="chap" id="chap" value="Chappathi" class="mr">
                                    <label for="chap" class="form-check-label text-white">Chappathi</label><br>
                                    <input type="checkbox" name="pathiri" id="pathiri" value="Pathiri" class="mr">
                                    <label for="pathiri" class="form-check-label text-white">Pathiri</label><br>
                                    <input type="checkbox" name="ban" id="ban" value="Bananas" class="mr">
                                    <label for="ban" class="form-check-label text-white">Bananas</label><br>
                                </div>
                                <input type="button" id="mark1" value="Ok" class="btn btn-primary" onclick="brkfastFunction()">
                            </div>
                        </div>
                    </form>
                    </div> 
                    <div class="col-lg-4">
                        <a href="snacks" style="text-decoration: none">
                            <h3 class="font-weight-bold p-5 mylist text-dark">Snacks</h3></a>
                    </div>
                </div> <br>
                <div class="row">
                    <div class="col-lg-4">  
                            <form action="lunch" method="POST">
                            {% csrf_token %} 
                        <h3 class="font-weight-bold p-5 mylist" id="lunch">Lunch
                            <div id="hidenoon" style="display: none">
                               <input type="text" name="noon" id="noon" class="form-control itms">
                               <button type="submit" class="btn btn-primary">Add</button>
                            </div>   
                            {{mesg}}
                            <!--<div class="progress" style="display: none" id="progress2">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:60%">
                                    60%
                                </div>
                            </div>-->
                        </h3>
                        
                        <div class="form-check display pl-0 bmg" style="display: none" id="lnch">
                            <div class="transparent"> 
                                <h4 class="text-center text-white p-2">Have you had your Lunch?</h4>
                                <div class="lnitems">
                                    <input type="checkbox" name="rice" id="rice" value="Rice" class="afternoon">
                                    <label for="rice" class="form-check-label text-white">Rice and Sambar</label><br>
                                    <input type="checkbox" name="chap2" id="chap2" value="Chappathi" class="afternoon">
                                    <label for="chap" class="form-check-label text-white">Chappathi</label><br>
                                    <input type="checkbox" name="sandwich" id="sandwich" value="Sandwich" class="afternoon">
                                    <label for="sandwich" class="form-check-label text-white">Sandwich with 1 cup of vegetables</label><br>
                                    <input type="checkbox" name="kanji" id="kanji" value="Kanji & Payar" class="afternoon">
                                    <label for="kanji" class="form-check-label text-white">Kanji & Payar</label><br>
                                    <input type="checkbox" name="fruits" id="fruits" value="Fruits" class="afternoon">
                                    <label for="fruits" class="form-check-label text-white">Fruits</label><br>
                                   
                                </div>
                                <input type="button" id="mark2" value="Ok" class="btn btn-primary" onclick="lunchFunction()">
                            </div>
                        </div>
                    </form>
                    </div>
                    <div class="col-lg-4"> 
                            <form action="dinner" method="POST">
                                    {% csrf_token %} 
                        <h3 class="font-weight-bold p-5 mylist" id="dinner">Dinner
                                <div id="hidenight" style="display: none">
                               <input type="text" name="night" id="night" class="form-control itms">
                               <button type="submit" class="btn btn-primary">Add</button>
                               </div>
                               {{mssg}}
                            <!--<div class="progress" id="progress3" style="display: none">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:100%">
                                    100%
                                </div>
                            </div>-->
                        </h3>
                    
                        <div class="form-check display pl-0 bmg"style="display: none;" id="din">
                            <div class="transparent"> 
                                <h4 class="text-center text-white p-2">Have you had your Dinner?</h4>
                                <div class="dnitems">
                                    <input type="checkbox" name="chap3" id="chap3" value="Chappathi" class="supper">
                                    <label for="chap3" class="form-check-label text-white">Chappathi & fishcurry</label><br>
                                    <input type="checkbox" name="rice2" id="rice2" value="Rice" class="supper">
                                    <label for="rice2" class="form-check-label text-white">Rice & Cabbage</label><br>
                                    <input type="checkbox" name="fruits2" id="fruits2" value="Fruits" class="supper">
                                    <label for="fruits2" class="form-check-label text-white">Fruits </label><br>
                                    <input type="checkbox" name="sandwich2" id="sandwich2" value="Sandwich" class="supper">
                                    <label for="sandwich2" class="form-check-label text-white">Sandwich with 1 cup of vegetables</label><br>
                                    <input type="checkbox" name="kanji2" id="kanji2" value="kanji" class="supper">
                                    <label for="kanji2" class="form-check-label text-white">Kanji & Pappadam</label><br>
                                </div>
                                <input type="button" id="mark3" value="Ok" class="btn btn-primary" onclick="dinnerFunction()">
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
                <h3 class="ml-5 mt-3">Workout Plan for you</h3>
                <iframe width="600px" height="300" src="https://www.youtube.com/embed/yL_dE81O_mw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="ml-5">
                </iframe>    
            </div>
        <div class="col-lg-3">
            <a href="water"><button class="btn p-3 btnstyle"><h4 class="text-white">Monday</h4></button></a>
            <a href="day2"><button class="btn p-3 btnstyle"><h4 class="text-white">Tuesday</h4></button></a>
            <a href="water"><button class="btn p-3 btnstyle"><h4 class="text-white">Wednesday</h4></button></a>
            <a href="day3"><button class="btn p-3 btnstyle"><h4 class="text-white">Thursday</h4></button></a>
            <a href="day2"><button class="btn p-3 btnstyle"><h4 class="text-white">Friday</h4></button></a>
            <a href="day3"><button class="btn p-3 btnstyle"><h4 class="text-white">Saturday</h4></button></a>
            <a href="sunday"><button class="btn p-3 btnstyle"><h4 class="text-white">Sunday</h4></button></a>
        </div>
    </div>  

    

    <script>
        $(document).ready(function(){
            $('#brk').click(function(){
            $('#breakfast').toggle();
            });
            $('#lunch').click(function(){
            $('#lnch').toggle();
            });
            $('#dinner').click(function(){
            $('#din').toggle();
            });
            /* progress bar for breakfast*/
            $('.mritems').click(function(){
                var checkedbx=$('[type=checkbox]:checked');
                if (checkedbx.length>0)
                {
                    $('#hidebrkfst').show();
                }else{
                    $('#hidebrkfst').hide();
                }
            });
                /* progress bar for lunch*/
            $('.lnitems').click(function(){
                var checkedbx=$('[type=checkbox]:checked');
                if (checkedbx.length>0)
                {
                    $('#hidenoon').show();
                }else{
                    $('#hidenoon').hide();
                }
            });
            /* progress bar for dinner*/
            $('.dnitems').click(function(){
                var checkedbx=$('[type=checkbox]:checked');
                if (checkedbx.length>0)
                {
                    $('#hidenight').show();
                }else{
                    $('#hidenight').hide();
                }
            });
        });
    </script>
    <script>
       /*  document.getElementById('mark1').onclick=function(){
            var markedCheckboxbr = document.getElementsByClassName('mr');
            
            for (var checkbox of markedCheckboxbr) {
                if(checkbox.checked){
            document.getElementById('brkfst').append(checkbox.value + ' ');
        }
            }
        }
        document.getElementById('mark2').onclick=function(){
            var markedCheckboxln = document.getElementsByClassName('afternoon');
            for (var checkbox of markedCheckboxln) {
                if(checkbox.checked){
            document.getElementById('noon').append(checkbox.value + ' ');
                }
            }
        }
       document.getElementById('mark3').onclick=function(){
            var markedCheckboxdnr = document.getElementsByClassName('supper');
            for (var checkbox of markedCheckboxdnr) {
                if(checkbox.checked){
            document.getElementById('night').append(checkbox.value + ' ');
                }
            }
        }*/
        function brkfastFunction() {
  var brkfastitm = document.forms[0];
  var txt = "";
  var i;
  for (i = 0; i < brkfastitm.length; i++) {
    if (brkfastitm[i].checked) {
      txt = txt + brkfastitm[i].value + " ";
    }
  }
  document.getElementById("brkfst").value = txt;
}

        function lunchFunction() {
  var lunchitm = document.forms[1];
  var txt = "";
  var i;
  for (i = 0; i < lunchitm.length; i++) {
    if (lunchitm[i].checked) {
      txt = txt + lunchitm[i].value + " ";
    }
  }
  document.getElementById("noon").value = txt;
}

        function dinnerFunction() {
  var dinneritm = document.forms[2];
  var txt = "";
  var i;
  for (i = 0; i < dinneritm.length; i++) {
    if (dinneritm[i].checked) {
      txt = txt + dinneritm[i].value + " ";
    }
  }
  document.getElementById("night").value = txt;
}
        
    </script>
    {% endblock %}
</body>
</html>
